{% extends 'base.html' %}
{% load static %}
{% block title %}Головна - Магазин меблів{% endblock %}
{% block content %}
    <!-- banner section start -->
    <div class="banner_section layout_padding">
        <div id="main_slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <h1 class="banner_taital">Стильні <br> Меблі <br> Для Вашого Дому</h1>
                                <p class="banner_text">Створюйте затишок із нашими сучасними та якісними меблями, які ідеально доповнять ваш інтер’єр.</p>
                                <div class="btn_main">
                                    <div class="contact_bt"><a href="{% url 'main:contact' %}">Зв’язатися з нами</a></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="image_1"><img src="{% static 'images/img-1.png' %}" alt="Меблі з сучасним дизайном"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <h1 class="banner_taital">Елегантність <br> у кожній <br> деталі</h1>
                                <p class="banner_text">Наші меблі поєднують стиль, комфорт і практичність, щоб зробити ваш дім особливим.</p>
                                <div class="btn_main">
                                    <div class="contact_bt"><a href="{% url 'main:contact' %}">Зв’язатися з нами</a></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="image_1"><img src="{% static 'images/img-6.png' %}" alt="Меблі з сучасним дизайном"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <h1 class="banner_taital">Меблі, <br> Які <br> Надихають</h1>
                                <p class="banner_text">Відкрийте для себе колекцію, що перетворить ваш простір на місце для натхнення.</p>
                                <div class="btn_main">
                                    <div class="contact_bt"><a href="{% url 'main:contact' %}">Зв’язатися з нами</a></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="image_1"><img src="{% static 'images/img-1.png' %}" alt="Меблі з сучасним дизайном"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
                <i style="font-style: initial;">01</i>
            </a>
            <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
                <i style="font-style: initial;">02</i>
            </a>
        </div>
    </div>
    <!-- banner section end -->

    <!-- about section start -->
    <div class="about_section layout_padding">
        <div class="container">
            <div class="about_section_2">
                <div class="row">
                    <div class="col-md-6">
                        <div class="image_2"><img src="{% static 'images/img-2.png' %}" alt="Інтер'єр з нашими меблями"></div>
                    </div>
                    <div class="col-md-6">
                        <h1 class="about_taital">Про нас</h1>
                        <p class="about_text">Ми – команда, що створює меблі з любов’ю та турботою. Наша мета – зробити ваш дім затишним і стильним, пропонуючи лише найкращі рішення для вашого інтер’єру.</p>
                        <div class="readmore_bt"><a href="{% url 'main:about' %}">Дізнатися більше</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about section end -->

    <!-- featured products section start -->
    <div class="design_section layout_padding">
        <div class="container">
            <h1 class="design_taital">Рекомендовані товари</h1>
            <p class="design_text">Ознайомтеся з нашими найкращими пропозиціями</p>
            <div class="design_section_2">
                <div class="row">
                    {% for product in featured_products %}
                        <div class="col-md-4">
                            <div class="box_main">
                                <p class="chair_text">{{ product.name }}</p>
                                <div class="image_3">
                                    <img src="{{ product.image.url }}" alt="{{ product.name }}">
                                </div>
                                <p class="chair_text">Ціна: {{ product.price }} грн</p>
                                <div class="buy_bt"><a href="{% url 'catalog:product_detail' product.id %}">Дізнатися більше</a></div>
                            </div>
                        </div>
                    {% empty %}
                        <p>Немає рекомендованих товарів.</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- featured products section end -->
{% endblock %}