{% extends 'base.html' %}
{% block title %}Рекомендовані товари - Магазин меблів{% endblock %}
{% block content %}
    <div class="auth-box">
        <h2>Рекомендовані товари</h2>
        <div class="product-list">
            {% if products %}
                <div class="row g-3">
                    {% for product in products %}
                        <div class="col-md-12 mb-3">
                            <div class="box_main" style="height: 200px; display: flex; align-items: center; justify-content: center; border: 1px solid #b48569; background-color: #fff; border-radius: 5px;">
                                <div>
                                    <p class="chair_text">{{ product.name }}</p>
                                    <p class="chair_text">Ціна: {{ product.price }} грн</p>
                                    <div class="buy_bt"><a href="{% url 'catalog:product_detail' product.id %}" class="btn btn-primary btn-block">Дізнатися більше</a></div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p>Немає рекомендованих товарів.</p>
            {% endif %}
        </div>
    </div>

    <style>
        .auth-box {
            max-width: 400px;
            margin: 100px auto;
            padding: 40px;
            border: 1px solid #b48569;
            background-color: #fae6c4;
            box-shadow: 0px 0px 15px rgba(124, 44, 12, 0.2);
            border-radius: 10px;
        }
        .auth-box h2 {
            color: #7c2c0c;
            font-weight: bold;
            text-align: center;
            margin-bottom: 30px;
        }
        .btn-primary {
            background-color: #7c2c0c;
            border-color: #7c2c0c;
        }
        .btn-primary:hover {
            background-color: #b48569;
            border-color: #b48569;
        }
    </style>
{% endblock %}