{% extends 'base.html' %}
{% load static %}

{% block title %}{{ product.name }} - Магазин меблів{% endblock %}

{% block content %}
<div class="product_detail_wrapper layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="product_image_box">
                    <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid">
                </div>
            </div>
            <div class="col-md-6">
                <div class="product_info_box banner_frame">
                    <h1 class="product_title">{{ product.name }}</h1>
                    <p class="product_category"><strong>Категорія:</strong> {{ product.category.name }}</p>
                    <p class="product_price"><strong>Ціна:</strong> {{ product.price }} грн</p>
                    <p class="product_quantity"><strong>Наявність:</strong> {{ product.quantity }} шт.</p>
                    <p class="product_description">{{ product.description }}</p>
                    {% if product.is_in_stock %}
                        <div class="readmore_bt" style="text-align: right;">
                            <a href="{% url 'cart:cart_add' product.id %}">Додати до кошика</a>
                        </div>
                    {% else %}
                        <p class="about_text" style="color: #7c2c0c;">Товар відсутній на складі.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}